<h5 class="row">
	{{sentimentalDataModel?.month|selectMonth}}
</h5>
<div class="row">
	<div class="col-6"  style="font-size: medium;">
		<small class="row">
			Change: <span class="font-monospace text-muted" style="width:fit-content;">{{sentimentalDataModel?.change}}</span>
		</small>
		<small class="row">
			MSPR: <span class="font-monospace text-muted" style="width:fit-content;">{{sentimentalDataModel?.mspr}}</span>
		</small>
	</div>
	<div class="col-4 stonk" style="font-size: 45px;">
		<span *ngIf="stonk(); else notstonk" class="text-success">
			&uarr;
		</span>
		<ng-template #notstonk>
			<span class="text-danger">
				&darr;
			</span>
		</ng-template>
	</div>
</div>

