<div class="container">
	<div class="row p-3">
		<div class="col">
			<button class="btn btn-danger float-end" (click)="resetApiKey()">
				Reset Api Key
			</button>
		</div>
	</div>
</div>

<symbol-input></symbol-input>
<hr>
<br>
<div class="container">
	<div *ngFor="let stock of stockLists; index as i">
		<div class="col-6 border-end border-info" *ngIf="i>0">
			<br>
		</div>
		<div class="row rounded border border-info g-2 bg-light p-3">
			<track-dialog [stockModelQuota]="stock" (close)="removeStock(+i)">
			</track-dialog>
		</div>
		<div class="col-6 border-end border-info" *ngIf="i<stockLists.length-1">
			<br>
		</div>
	</div>
</div>
<br>
