<div class="container">
	<div class="row">
		<legend class="col-12">
			<span>{{stockModel?.stockName}}</span>
			<small class="text-muted text-end float-end">
				({{stockModel?.stockSymbol}})
				<span class="xclose" (click)="closeStock()">
					&times;
				</span>
			</small>
		</legend>
	</div>
	<hr>
	<div class="row">
		<div class="col-9 small">
			<div class="row">
				<div class="col-6">
					Change today: <span class="font-monospace" style="width: fit-content;">{{stockModel?.changeToday | mypercent}}</span>
				</div>
				<div class="col-6">
					Opening Price: <span class="font-monospace" style="width: fit-content;">{{stockModel?.openingPrice| currency:'USD'}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					Current price: <span class="font-monospace" style="width: fit-content;">{{stockModel?.changePrice| currency:'USD'}}</span>
				</div>
				<div class="col-6">
					Current price: <span class="font-monospace" style="width: fit-content;">{{stockModel?.changePrice| currency:'USD'}}</span>
				</div>
			</div>

		</div>
		<div class="col-3 text-center">
			<span *ngIf="stonk()" class="text-success" style="font-size: 3rem;">&uarr;</span>
			<span *ngIf="!stonk()" class="text-danger" style="font-size: 3rem;">&darr;</span>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-5">
			<a routerLink="/sentimental/{{stockModel?.stockSymbol}}" class="btn btn-dark col-12">
				<small class="d-none d-md-block">
					Go to social sentiment details &#10148;
				</small>
				<span class="d-block d-md-none">
					Go to social sentiment details &#10148;
				</span>
			</a>
		</div>
	</div>
</div>

